.AD_form-container {
  background: #fff;
  padding: 24px;
  border-radius: 8px;
  max-width: 800px;
}
.AD_input-with-suffix {
  display: flex;
}
.AD_input-with-suffix input {
  border-right: none;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}
.AD_input-with-suffix span {
  padding: 10px;
  background-color: #e9ecef;
  border: 1px solid #ccc;
  border-left: none;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}
