.sv-home-wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  width: 100%;
}

.sv-container {
  display: flex;
  flex: 1;
  width: 100%;
  background-color: #ffffff;
  overflow: hidden;
}

.sv-content {
  flex: 1;
  background: #ffffff; /* Màu trắng theo yêu cầu */
  padding: 20px;
  overflow-y: auto;
  min-width: 0;
  height: 100%;
}
