/* body */
.LG-content {
  background: rgba(0, 110, 183, 0.7);
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: -60px;
  position: relative;
}
.LG-center {
  width: 650px;
  height: 575px;
  text-align: center;
  margin-top: 20px;
  padding-top: 0;
  z-index: 1;
}
.signin {
  width: 350px;
  height: 750px;
  z-index: 1;
}
.LG-group {
  margin: 205px auto 0 auto;
  width: 320px;
  height: 370px;
  border: 5px solid #6bb9f0;
  background: #f7f7f7;
  padding: 15px;
}
label {
  max-width: 100%;
  margin-bottom: 5px;
  font-weight: bold;
}
.LG-heading {
  margin-top: 25px;
}
.LG-from {
  margin-top: 20px;
  align-items: center;
}
.LG-input {
  height: 38px;
  width: 95%;
  padding: 8px 12px;
  font-size: 15px;
  line-height: 1.3333333;
  border-radius: 4px;
  border: 1px solid #ccc;
  outline: none;
}
.LG-input:focus {
  border-color: #6bb9f0;
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}
.LG-btn {
  height: 38px;
  width: 95%;
  padding: 8px 12px;
  font-size: 15px;
  border-radius: 4px;
  color: #fff;
  background-color: #337ab7;
  cursor: pointer;
  margin-top: 20px;
}
.LG-btn:hover {
  background-color: #2e6da4;
  cursor: pointer;
}
/* footer */
.footer {
  background: linear-gradient(
    to bottom,
    rgba(0, 128, 213, 0.5) 0%,
    #006eb7 30%,
    #006eb7 70%
  );
  height: 40%;
  width: 100%;
  position: fixed;
  bottom: 0;
  left: 0;
  color: white;
  text-align: center;
  line-height: 30px;
  padding-top: 120px;
  font-size: 12px;
}
a {
  color: inherit;
  text-decoration: none;
}
