/* Bạn có thể thêm các style cụ thể cho trang này nếu cần */
/* Ví dụ: */
.AD_btn-approve {
  background-color: #28a745;
  color: white;
  margin-left: 5px;
}

.AD_btn-details {
  background-color: #17a2b8;
  color: white;
}
